# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# For Ipython
.ipynb_checkpoints/

# C and Fortran extensions
*.so
*.o

# For emacs
*~
\#*
.#*

# Some directorys
# Dont commit the data
./datos/igj-entidades.csv
./datos/igj-autoridades.csv
